:root {
  --black: #211e1d;
  --bg: #f7f6f5;
  --brown: #61300d;
}

* {
  margin: 0;
  padding: 0;

  transition: 0.3s;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: var(--bg);
}

.header {
  padding: 50px 50px;
}

.nav {
  display: grid;
  grid-template-columns: 90px 1fr auto;
  gap: 20px;
  justify-items: center;
}

.logo svg {
  vertical-align: middle;
  fill: var(--black);
}

.logo:hover svg {
  mask: url('./assets/logotype.svg') 50% 50% no-repeat;
  background-image: linear-gradient(to right, var(--brown) 90px, transparent 115px, var(--brown) 155px);
  background-size: 200px 36px;
  background-position-x: 0;
  fill-opacity: 0;
  cursor: pointer;
  animation: blick 0.8s linear;
}

.menu,
.accaunt {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.menu {
  gap: 30px;
}

.menu-link {
  position: relative;
}

.menu-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0;
  height: 1px;
  background-color: var(--brown);
}

.menu-link:hover {
  color: var(--brown);
  cursor: pointer;
}

.menu-link:hover::before {
  animation: underline 0.2s ease-in forwards;
}

.accaunt {
  gap: 25px;
}

.accaunt-link {
  position: relative;
  vertical-align: middle;
}

.accaunt-link__favourite svg {
  vertical-align: middle;
  fill: var(--bg);
}

.accaunt-link__favourite:hover svg {
  mask: url('./assets/favourite.svg');
  background-image: linear-gradient(to top, var(--brown), var(--brown));
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position-y: 30px;
  fill-opacity: 0;
  cursor: pointer;
  animation: fill 0.8s linear forwards;
}

@keyframes fill {
  from {
    background-position-y: 30px;
  }
  to {
    background-position-y: 0;
  }
}

@keyframes blick {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 140%;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
