:root {
  --main-bg: #f2f1f0;
  --btn: #59313b;
  --footer: #ded9d5;
  --cards: #fafafa;
  --text: #40393b;
  --merri: 'Merriweather', serif;
  --sans: 'Source Sans 3', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: var(--sans);
  font-size: 18px;
  line-height: 23px;

  background: var(--main-bg);
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  position: relative;

  text-decoration: none;
  color: var(--text);
}

.menu-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0;
  height: 1px;
  background-color: var(--text);
}

.menu-link:hover {
  cursor: pointer;
}

.menu-link:hover::before {
  animation: 0.2s ease-in forwards hover;
}

@keyframes hover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  min-height: 100vh;

  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}

.header {
  margin-bottom: 50px;
}

.nav {
  display: grid;
  grid-template-columns: 178px 1fr 140px 25px;
  align-items: center;
  justify-items: stretch;
  gap: 35px;

  padding-top: 50px;
}

.logo {
  align-self: center;
}

.logo img {
  vertical-align: middle;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.cart::after {
  content: '';
  position: absolute;
  top: -135px;
  left: 0;

  width: 25px;
  height: 25px;

  background: url('./assets/icons/bouquet.png');
  background-size: contain;
}

.cart:hover::after {
  z-index: -1;
  animation: 0.35s ease-in forwards bouquet;
}

.cart:hover::before {
  display: none;
}

@keyframes bouquet {
  from {
    top: -135px;
  }
  to {
    top: -8px;
  }
}

.main {
  display: grid;
  grid-template-rows: 350px 60px 1fr 70px;
  gap: 50px;

  margin-bottom: 80px;
}

.custom-select {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 18px;

  border: var(--btn) solid 1px;
  border-radius: 10px;
}

.custom-select::before {
  content: '';
  position: absolute;
  right: 18px;
  top: calc(50% - 4px);

  width: 16px;
  height: 8px;

  background: url('./assets/icons/down.png') no-repeat center;
}

.custom-select:hover {
  background-color: var(--cards);
  cursor: pointer;
}

.custom-select select {
  display: none;
}

.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.select-selected {
  background-color: DodgerBlue;
}

/* style the items (options), including the selected item: 
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
*/

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  min-width: 380px;
  padding: 30px;

  background-color: var(--cards);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px 5px var(--text);
}

.card-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  max-width: 320px;
}

.card-img {
  margin-bottom: 10px;
}

.card-title {
  font-family: var(--merri);
  font-size: 22px;
  color: var(--text);
}

.card-price {
  margin-bottom: 15px;

  font-size: 18px;
}

.card-btn {
  display: flex;
  justify-content: center;

  min-width: 200px;
  padding: 12px;

  color: var(--cards);

  background-color: var(--btn);
  border: none;
  transition: 0.3s;
}

.card-btn:hover {
  cursor: pointer;
  animation: 0.35s linear forwards change-color;
}

@keyframes change-color {
  0% {
    background-color: var(--btn);
  }
  5% {
    background-image: linear-gradient(to right, var(--text) 5%, var(--btn) 5%, var(--btn) 100%);
  }
  15% {
    background-image: linear-gradient(to right, var(--text) 15%, var(--btn) 15%, var(--btn) 100%);
  }
  25% {
    background-image: linear-gradient(to right, var(--text) 25%, var(--btn) 25%, var(--btn) 100%);
  }
  35% {
    background-image: linear-gradient(to right, var(--text) 35%, var(--btn) 135%, var(--btn) 100%);
  }
  50% {
    background-image: linear-gradient(to right, var(--text) 50%, var(--btn) 50%, var(--btn) 100%);
  }
  65% {
    background-image: linear-gradient(to right, var(--text) 65%, var(--btn) 65%, var(--btn) 100%);
  }
  80% {
    background-image: linear-gradient(to right, var(--text) 80%, var(--btn) 80%, var(--btn) 100%);
  }
  100% {
    background-color: var(--text);
  }
}

.btn_more {
  margin: auto;

  display: flex;
  justify-content: center;
  min-width: 380px;
  padding: 24px;

  font-size: 16px;
  color: var(--text);

  border-color: var(--btn);
  border-radius: 10px;
  background-color: var(--main-bg);
}

.btn_more:hover {
  background-color: var(--cards);
  cursor: pointer;
}

.footer {
  padding: 80px;

  background-color: var(--footer);
}

.nav_footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.social-img {
  vertical-align: middle;
}

.footer .wrapper {
  min-height: auto;
}
