:root {
  --main-bg: #f2f1f0;
  --btn: #59313b;
  --footer: #ded9d5;
  --cards: #fafafa;
  --text: #40393b;
  --merri: 'Merriweather', serif;
  --sans: 'Source Sans 3', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: var(--sans);
  font-size: 18px;
  line-height: 23px;

  background: var(--main-bg);
}

.list {
  list-style: none;
}

.link {
  position: relative;

  text-decoration: none;
  color: var(--text);
}

.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0;
  height: 1px;
  background-color: var(--text);
}

.link:hover {
  cursor: pointer;
}

.link:hover::before {
  animation: 0.2s ease-in forwards hover;
}

@keyframes hover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  min-height: 100vh;

  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}

.header {
  margin-bottom: 50px;
}

.nav {
  display: grid;
  grid-template-columns: 178px 1fr 140px 25px;
  align-items: center;
  justify-items: stretch;
  gap: 35px;

  padding-top: 50px;
}

.logo {
  align-self: center;
}

.logo img {
  vertical-align: middle;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.cart::after {
  content: '';
  position: absolute;
  top: -135px;
  left: 0;

  width: 25px;
  height: 25px;

  background: url('./assets/icons/bouquet.png');
  background-size: contain;
}

.cart:hover::after {
  z-index: -1;
  animation: 0.35s ease-in forwards bouquet;
}

.cart:hover::before {
  display: none;
}

@keyframes bouquet {
  from {
    top: -135px;
  }
  to {
    top: -8px;
  }
}

.main {
  display: grid;
  grid-template-rows: 350px 60px 1fr 70px;
  gap: 50px;
}

.custom-select {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 18px;

  border: var(--btn) solid 1px;
  border-radius: 10px;
}

.custom-select::before {
  content: '';
  position: absolute;
  right: 18px;
  top: calc(50% - 4px);

  width: 16px;
  height: 8px;

  background: url('./assets/icons/down.png') no-repeat center;
}

.custom-select:hover {
  background-color: var(--cards);
  cursor: pointer;
}

.custom-select select {
  display: none;
}

.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
